<h1>Alpha Alpha Game of Thrones!</h1>

<br>
<h3>What are the small group wars?</h3>
<p>The Small Group Wars are an Alpha Alpha tradition. Every semester small groups compete to see which will ascend the iron throne.</p>
<br>
<h3>But Why?</h3>
<p>There is only space for one small group on the iron throne. The game of thrones is designed to decide which small group keeps the throne!
</p>


<% if user_signed_in? %>
You are signed in as <%= current_user.name %>. 
	

<% end %>