<h1><center>Alpha Alpha Game of Thrones!</center></h1>

<br>
<h2><b>What are the small group wars?</b></h2>
<p class="lead">The Small Group Wars are an Alpha Alpha tradition. Every semester small groups compete to see which will ascend the iron throne.</p>
<br>
<h2><b>But Why?</b></h2>
<p class ="lead">There is only space for one small group on the iron throne. The game of thrones is designed to decide which small group gets to sit on the throne!
</p>