<h2>About Photo Challenges</h2>
<p class="lead">Submit photos that match the week's list for points. Get Creative! At least 5 different options will be available each week. Each picture will earn your group 10 points.</p>
<br><br>
<h2>Photo Challenge Rules</h2>
<ul class="lead">
	<li>Photos must be submitted by 11:59 pm on Friday night on the Kay Krenek pledge class Facebook page</li>
	<li>Photos can count for multiple groups if their members are present, just include the names of all pledges and their small groups</li>
	<li>The same photo can count for multiple categories</li>
	<li>Each week's challenges will be announced during the pledge meeting and on the Facebook group every Sunday</li>
	<li>Only one submission will count for each category for a small group. You can take more and share them on the facebook page but it won't add to your points.</li>
	<li>Photos must be taken during the period of the photo challenge. You can not use pictures you took previously.</li>
</ul>
<br><br>
<p class="lead"><b>These rules can be changed at any time by the PTA in charge of Small Group Wars. All issues are up to his/her discretion.</b></p>