<h3>About Photo Challenges</h3>
<p>Submit photos that match the week's list for points. Get Creative! At least 5 different options will be available each week. Each picture will earn your group 10 points.</p>

<h3>Photo Challenge Rules</h3>
<ul>
	<li>Must be taken with at least 1 other APO brother (pledge or active)</li>
	<li>Photos must be submitted by 11:59pm on Saturday night on this site</li>
	<li>Photos can count for multiple groups if their members are present, just include the names of all pledges and their small groups.</li>
	<li>Each week's challenges will be announced on the Facebook group by the end of the night on Sunday.</li>
	<li>Only one submission will count per small group. You can take more if you'd like but they will not add to your points.</li>
</ul>

