<h1>Submit a Picture</h1>
<p class="lead">In order to submit a picture for the Photo Challenge upload it to the Pledge class facebook page.</p>
<p class="lead">Include the name of all small groups with members in the picture.</p>