<h1>This week's Photo Challenges</h1>
<ul class="lead">
	<li>Awkward photo with Trent</li>
	<li>Awkward photo with Sydney</li>
	<li>Photo of 3 or more pledges fromG your small group with the Eternal Flame</li>
	<li>Group photo with your small group (must have at least 10 people)</li>
	<li>Photo at the new ECE building</li>
</ul>