<h1>This week's Photo Challenges</h1>
<ul class="lead">
	<li>Photo with a PCO (picture must include at least one other pledge in addition to the PCO)</li>
	<li>Photo at insomnia (help National Convention raise money by going to https://www.facebook.com/events/388263204660037/)</li>
	<li>Photo at the ARC or CRCE</li>
	<li>At an APO event related to Islam Awareness Week</li>
	<li>Photo at the Krannert art museum</li>
</ul>