<h1>This week's Photo Challenges</h1>
<ul class="lead">
	<li>Photo at an event related to National Convention</li>
	<li>Photo in halloween costumes</li>
	<li>Photo at a She's The First bake-off</li>
	<li>Photo with a skeleton</li>
	<li>Photo eating yogurt</li>
</ul>