<h3>Rules for Points</h3>
<ul>
	<li>Each Small Group starts with 100 points</li>
	<li>Points can be earned from Throwdowns, Spoon Wars, and Photo Challenges.</li>
	<li>Each kill in spoon wars adds 5 points to your total.</li>
	<li>Each photo from the photo challenge adds 10 points to your total.</li>
</ul>

<h3>Current Points:</h3>
Scores will be updated once the semester starts.