<h2>Rules for Points</h2>
<ul class="lead">
	<li>Each Small Group starts with 200 points</li>
	<li>Points can be earned from Throwdowns, Spoon Wars, and Photo Challenges.</li>
	<li>Each kill in spoon wars adds 3 points to your total.</li>
	<li>Each photo from the photo challenge adds 10 points to your total.</li>
</ul>

<br><br>

<h2>Current Points:</h2>
<p class="lead">Points can be viewed at: <%= link_to "http://goo.gl/YQechM", "http://goo.gl/YQechM" %>.</p>