<h1>This week's Matchups:</h1>
<ul>
	<li>Loraxes vs Green Eggs &amp; Ham</li>
	<li>Sneetches vs Fox in Sox</li>
	<li>Yertles vs Fishies</li>
	<li>Hop on Pop vs Grinches</li>
	<li>Hortons vs Cat in the Hat</li>
</ul>