<h1>This week's Matchups:</h1>
<ul>
	<li>Hortons vs Loraxes</li>
	<li>Fox in Sox vs Grinches</li>
	<li>Yertles vs Green Eggs &amp; Ham</li>
	<li>Sneetches vs Katz</li>
	<li>Hop on Pop vs Fishies</li>
</ul>