<h1>This week's Matchups:</h1>
<ul>
	<li>Cat in the Hat vs Green Eggs &amp; Ham</li>
	<li>Sneetches vs Grinches</li>
	<li>Hop on Pop vs Fox in Sox</li>
	<li>Fishies vs Loraxes</li>
	<li>Hortons vs Yertles</li>
</ul>