<h1>This week's Matchups:</h1>
<ul>
	<li>Cat in the Hat vs Loraxes</li>
	<li>Yertles vs Hop on Pop</li>
	<li>Sneetches vs Fishies</li>
	<li>Grinches vs Green Eggs</li>
	<li>Hortons vs Foxes</li>
</ul>