<h3>About Spoon Wars</h3>
<p>APO Spoon Wars is a competition similar to other spoon wars or assassins competitions. If you are unfamiliar with the game you can <%= link_to "learn more here", "http://en.wikipedia.org/wiki/Assassin_(game)" %>. </p>
<p>The difference between APO Spoon Wars and other similar games is that in our version, entire small groups compete to kill other ones. You have access to the names of everyone in the other small groups in the <%= link_to "Pledge class Roster", spoonwars_pledge_roster_path %>.</p>
<p>Each kill adds to your small group points, but no points are deducted if you die. So be active and kill as many people in the other small group. The points added are 5 per kill.</p>
<p>For each of the first 5 weeks, your small group will be randomly assigned another group to fight against. The final week, the top small group will play the PTAs/PTs. The top 20 small group warriors from the other small groups will also make a team to fight a team of actives.</p>

<br>

<h3>Rules of Spoon Wars:</h3>
<ol>
	<li>You will be given one spoon. You can get replacement spoons at pledge meetings, but you only get one spoon per week.</li>
	<li>No reinforcing your spoons! This means no tape, extensions, etc.</li>
	<li>Each round will begin at 12:00am on Monday and end at 11:59 pm the following Friday. ALL KILLS MUST BE MADE AND REPORTED DURING THIS TIME FRAME.</li>
	<li>Kills must be reported within 24 hours using the report a kill tab. If you make a kill on a Friday it must be in by 11:59pm.</li>
	<li>For each pledge you kill, you must ask them a question, such as "Who is your favorite Game of Thrones character?". If you did not ask a question and the kill is challenged it will be overturned!</li>
	<li>If you feel you have been killed unjustly, you must fill out the appropriate form within 24 hours of the kill being reported.</li>
		<li>If 2 pledges from opposing teams kill each other simultaneously (both spoons touch at the same time) neither pledge is dead. There is now a 1 hour waiting period before either can attempt to kill that same person again.</li>
		<li>Kills are added to total small group points. Each kill is equal to 5 points.</li>
		<li>Safe zones:</li>
		<ul>
			<li>RSO complex/APO office: You are only safe on the carpeted areas.</li>
			<li>While attending any APO-sanctioned event (pledge family meetings, anything signed up for on the website, committee meetings, etc.)</li>
			<ul>
				<li>For official APO events (on the calendar), you are safe 15 mins before and after the event.</li>
				<li>The 15 min commute times are added to the times listed on the calendar. The event going over the time listed or ending early does not change this!</li>
			</ul>
			<li>You can only make a kill within a dorm room/apartment if you have been invited in by your target (the rest of the building is fair game)</li>
			<li>If your roommate is in an opposing small group: You can kill them in any room other than their own (so no killing in dorm rooms, but in an apartment only their room is off limits). This only applies to roommates.</li>
			<li>You cannot attempt to make a kill by reaching into a safe zone from outside the threshold </li>
			<li>If any part of their BODY is in the safe zone, they're safe </li>
			<li>Make-up meetings are safe zones with 15 min buffers</li>
			<li>PTA conferences and Kindnappings are safe zones</li>
		</ul>
		<li>Additional info</li>
		<ul>
			<li>If a spoon breaks it is a death. It should be reported by a person of the opposing small group on this website.</li>
			<li>This includes if your spoon breaks in the process of killing another player.</li>
			<li>You cannot make a kill with a broken spoon!</li>
			<li>Continuing to “kill” members of the opposite team after you have already been killed is not allowed!</li>
		</ul>
		<li>For every 2 kills you get, you will earn 0.5 fellowship points!</li>
	</ol>
	<b>These rules can be changed at any time by the PTA in charge of Small Group Wars. All issues are up to his/her discretion.</b>
	<br>
	<br>
	<br>