<h4>About Throwdowns</h4>
<p>Throwdowns are challenges in APO where two small groups compete in one of 5 categories. Those categories are:

	<ul>
		<li>Most office hours</li>
		<li>Best total scores on quizzes</li>
		<li>Most L,F, or S points accumulated</li>
		<li>Greatest total number of kind-nappings in a week</li>
		<li>Most money raised for a fundraiser </li>
	</ul>
</p>
<p>	Small groups wager points and the winning group takes the loser's points. One small group can challenge another in any of the above 5 categories.</p>
<br>
<br>
<h4>Rules for Throwdowns:</h4>
<ul>
	<li>Throwdowns must be submitted on this site by the Challenging small group PTA.</li>
	<li>Challenge should be submitted by the end of Sunday night (12am).</li> 
	<li>The throwdown begins when (and if) the challenged group accepts.</li>
	<li>Throwdowns end at 11:59pm on Saturdays.</li>
	<li>Small Groups can wager any number of points between 10 and 50.</li>
	<li>Small Groups can challenge multiple groups in the same week as long as the total points wagered don't exceed 50.</li>
	<ul>
</ul>
	<li>Possible methods of challenges are listed in the about section above.</li>
	<ul>
		<li>For office hour throwdowns, there will be a list on the office door for people to sign in when they go.</li>
		<li>For quiz score throwdowns, make-ups are not included.</li>
	</ul>
</ul>
<b>These rules can be changed at any time by the PTA in charge of Small Group Wars. All issues are up to his/her discretion.</b>
<br>
<br>